.header {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #dd001f;
    box-shadow: 0px 1px 4px #00000050;
    border-radius: 0 0 40px 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo img {
    width: 130px;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'ThunderhousePro', sans-serif;
}

.box-main {

    overflow: hidden;
}