:root {
    --vermelho-principal: #dd001f;
    --vermelho-claro: #dd001f;
    /* --vermelho-claro: #ed6678; */
}
.box-loader {
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #ffffff;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}


.loader:before {
    animation: ball1 1s infinite;
    background-color: var(--vermelho-principal);
    box-shadow: 30px 0 0 var(--vermelho-claro);
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: var(--vermelho-claro);
    box-shadow: 30px 0 0 var(--vermelho-principal);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 var(--vermelho-claro);
    }
    50% {
        box-shadow: 0 0 0 var(--vermelho-claro);
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 var(--vermelho-claro);
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 var(--vermelho-principal);
    }
    50% {
        box-shadow: 0 0 0 var(--vermelho-principal);
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 var(--vermelho-principal);
        margin-top: 0;
    }
}