/* === MODO SWIPER (mobile) === */
.swiper {
    width: 100%;
    height: 100%;
    max-width: 750px;
    padding: 0 30px; /* margem lateral visível */
    box-sizing: border-box;
}

.content-slide {
    overflow: hidden;
}
.mySwiper,
.mySwiper .swiper-wrapper {
    overflow: visible !important;
}

.swiper-slide {
    justify-content: center;
    display: flex;
    cursor: pointer;
    min-height: 320px;
    border-radius: 20px;
    align-items: center;
    background: #ffffff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* === MODO NÃO-SLIDER (≥ 650px) === */
.swiper.not-slider {
    overflow: visible;
    max-width: 1024px; /* limite máximo reduzido */
    margin-top: 10%;
    padding: 0 12px;
    box-sizing: border-box;
}

.swiper.not-slider .swiper-wrapper {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    transform: none !important;
    transition: none !important;
}

.swiper.not-slider .swiper-slide {
    width: auto !important;
    height: auto !important;
    min-height: 320px;
    background: #fff;
    box-shadow: 1px 1px 4px #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.swiper.not-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.swiper-pagination {
    display: none;
}

/* === GRID RESPONSIVO (tablet) === */

@media (min-width: 350px) and (max-width: 550px) {
    .swiper {
        max-width: 350px;
    }
}

@media (max-width: 1024px) {
    .swiper {
        margin-top: 30%;
    }
    .swiper.not-slider {
        max-width: 520px;
    }
    .swiper.not-slider .swiper-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 750px) {
    .swiper.not-slider {
        max-width: 520px;
    }
    .swiper.not-slider .swiper-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 550px) {
    .nav-below button {
        display: none;
    }
}

.nav-below {
    gap: 10%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
.nav-below button {
    border: none;
    cursor: pointer;
    background: transparent;
}